language: go
sudo: true

addons:
  apt:
    update: true

before_install:
  - sudo apt-get update -y
  - sudo apt install curl -y
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh

install:
  - dep ensure
  - go get golang.org/x/tools/cmd/goimports

script:
  - make build

notifications:
  email:
    recipients:
      - zpeters@gmail.com
    on_failure: always
    on_success: always
